{% extends 'base.html' %}

{% block content %}
<div class="contact-image">
	<div class="hero-text text-center">
		<div class="custom-div text-left">
			<h4 class="hero-header">Contact <span style="color:#E97451;">Us</span></h4>
			<br>
			<hr style="border-top: 1px solid white;">
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			<div class="carousel-caption">
				<i class="fa fa-angle-down bounce"></i>
			</div>
		</div>
		
	</div>
</div>
<br>
<div class="custom-div border rounded shadow p-4">
	<div class="form-group">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-custom">Send message</button>
		</form>
	</div>
</div>
<br>
<br>
{% endblock %}