{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="descriptions" content="forest landscape restoration">
	<meta name="keywords" content="forest conservation, forest restoration, seedling nursery, tree data, species data">
	<!-- Bootsrap cdn -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Neuton|Work+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cardo&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Serif+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
	<!-- Font awesome cdn -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- head logo -->
	<link rel="icon" href="#">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<!-- Chart.js CDN -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<title>Sarawak Delta Geopark</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-custom">
		<a class="navbar-brand" id="navbar-name" href="{% url 'home' %}">
			<img class="navbar-logo-img" src="{% static 'img/flr_logo_outline_white.png' %}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li>
					<a class="nav-link" href="#">Events</a>
				</li>
				<li>
					<a class="nav-link" href="#">Publications</a>
				</li>
				<li>
					<a class="nav-link" href="#">Contact</a>
				</li>
				
			</ul>
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="#">@{{ user.username }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="#">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Sign up</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<!-- Success subscription message -->
	<div class="min-vh-100">
		{% block content %}
			<!-- Child content goes here -->
		{% endblock %}
		<br>
	</div>

	<!-- Footer -->
	<footer class="page-footer font-small">
		<div class="container pt-4">
		  	<!-- Footer Links -->
		  	<div class="container text-center text-md-left">

			    <!-- Grid row -->
			    <div class="row">
				     <!-- Grid column -->
				     <div class="col-md-3 mx-auto">
				        <!-- Links -->
				        <h3 class="text-uppercase mt-3 mb-4">ADDRESS</h3>
				        <ul class="list-unstyled">
					        <!-- <img src="#" width="200"> -->
					        <br>
					        <p>Forest Department Sarawak Headquarters<br>Level 11-15, Bangunan Baitulmakmur II, Petra Jaya, 93050 Kuching, Sarawak</p>
				        </ul>
				     </div>
				    <!-- Grid column -->

				    <hr class="clearfix w-100 d-md-none">

				    <!-- Grid column -->
				    <div class="col-md-3 mx-auto">
				        <!-- Links -->
				        <h3 class="text-uppercase mt-3 mb-4">Contact</h3>
				        <ul class="list-unstyled">
							<p><i class="fa fa-phone pr-2"></i>082 - 495 111</p>
							<i class="fa fa-globe pr-2"></i><a class="list-unstyled" href="https://forestry.sarawak.gov.my/" target="_blank">forestry.sarawak.gov.my</a>
				        </ul>
				    </div>
				    <!-- Grid column -->

				    <hr class="clearfix w-100 d-md-none">

				    <!-- Grid column -->
				    <div class="col-md-3 mx-auto">

				        <!-- Links -->
				        <h3 class="text-uppercase mt-3 mb-4">Divisions</h3>
				        <ul class="list-unstyled">
				        	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3520#" target="_blank">Reforestation & Industrial Forest Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3521" target="_blank">Planning & Management Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3523" target="_blank">International Affairs Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3524" target="_blank">Research Development & Innovation Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3524" target="_blank">Management Services Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3529" target="_blank">Revenue & Data Management Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3525" target="_blank">Organizational Development & Project Development Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3539" target="_blank">Forest Technology & Geospatial</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3534" target="_blank">Licensing Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3535" target="_blank">Social Forestry Division</a>
				          	</li>
				          	<li class="pb-2">
				            	<a href="https://forestry.sarawak.gov.my/modules/web/pages.php?mod=staffcontact&sub=agency&site=15&staff_name=&loc=3538" target="_blank">Conservation & Constitution Division</a>
				          	</li>
				        </ul>

				    </div>
				    <!-- Grid column -->

				    <hr class="clearfix w-100 d-md-none">

				    <!-- Grid column -->
				    <div class="col-md-3 mx-auto">
				    	<!-- Links -->
					    <h3 class="text-uppercase mt-3 mb-4">CONNECT</h3>
					    <ul class=" list-unstyled">
					        <a class="fa fa-facebook pr-4" href="#"></a>
							<a class="fa fa-instagram" href="#"></a>
					    </ul>

				    </div>
				      <!-- Grid column -->
			    </div>
			    <!-- Grid row -->
		  	</div>
		  	<!-- Footer Links -->
		  	<!-- Copyright -->
		  	<div class="footer-copyright text-center py-3">© Sarawak Delta Geopark</div>
	  		<!-- Copyright -->
		</div>
	</footer>
	<!-- End footer -->

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>