{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="publication-image">
	<div class="hero-text text-center">
		<div class="custom-div text-left">
			<h4 class="hero-header"><span style="color:#E97451;">Our</span> Publications</h4>
			<br>
			<hr style="border-top: 1px solid white;">
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			<div class="carousel-caption">
				<i class="fa fa-angle-down bounce"></i>
			</div>
		</div>
		
	</div>
</div>
<br>
<div class="custom-div">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
</div>
<br>
<div class="container">
	<div class="show-IFrame-container text-center">
		<iframe style='width:1000px;height:600px' src='https://fliphtml5.com/bookcase/bwokd'  seamless='seamless' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true'></iframe>
	</div>
</div>
<br>
<br>
{% endblock %}